<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="binzh.wan.comechat.mapper.UserMapper">
    <select id="queryUserById" parameterType="Integer" resultType="User">
        select * from USER where id=#{id};
    </select>
    <select id="queryUserByUsername"   parameterType="String" resultType="User">
        select  * from USER where username=#{username};
    </select>
    <insert id="addUserByRegisting" parameterType="User">
        insert into user(username,password,email,tel,gender,role) values (#{username},#{password},#{email},#{tel},#{gender},#{role});
    </insert>
    <select id="queryFriendsIdById" parameterType="Integer" resultType="Integer">
        select friend.friendId from friend where userId=#{id};
    </select>
    <select id="queryFriendsByFriendId" resultType="User">
        select * from user where id in
        <foreach collection="list" index="index" item="friendId" open="(" close=")" separator=",">
            #{friendId}
        </foreach>
    </select>
    <select id="queryHistoryMsgByFromIDAndToId" resultType="Message" >
        select * from msg where (fromId=#{fromId} and toId=#{toId}) or  (fromId=#{toId} and toId=#{fromId})
    </select>
</mapper>
