<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="binzh.wan.comechat.mapper.UserMapper">
    <select id="queryUserById" parameterType="Integer" resultType="User">
        select * from USER where id=#{id};
    </select>
    <select id="queryUserByUsername"   parameterType="String" resultType="User">
        select  * from USER where username=#{username};
    </select>
    <insert id="addUserByRegisting" parameterType="User">
        insert into user(username,password,email,tel,gender,role) values (#{username},#{password},#{email},#{tel},#{gender},#{role});
    </insert>
    <select id="queryFriendsIdById" parameterType="Integer" resultType="Integer">
        select friend.friendId from friend where userId=#{id};
    </select>
    <select id="queryFriendsByFriendId" resultType="User">
        select * from user where id in
        <foreach collection="list" index="index" item="friendId" open="(" close=")" separator=",">
            #{friendId}
        </foreach>
    </select>
    <select id="queryHistoryMsgByFromIDAndToId" resultType="Message" >
        select * from msg where (fromId=#{fromId} and toId=#{toId}) or  (fromId=#{toId} and toId=#{fromId})
    </select>
    <insert id="saveMessage" parameterType="Message" >
        insert into msg(fromId,fromUsername,toId,message,type) values(#{fromId},#{fromUsername},#{toId},#{message},#{type})
    </insert>
    <select id="countOneUserNewMegByType"  resultType="Integer">
        select count(id) from msg where type=#{type} and fromId=#{fromId} and toId=#{toId}
    </select>
    <update id="updataPortrait" >
        update img set imgUrl= #{imgUrl} where userId =#{userId}
    </update>
    <select id="queryImgUrlByUserId" parameterType="Integer" resultType="String">
        select img.imgUrl from img where userId=#{userId}
    </select>
    <insert id="addImgUrlIfPortraitIsNULL" >
        insert into img(userId,imgUrl) values(#{userId},#{imgUrl})
    </insert>
    <insert id="addUser" >
        insert into friend(userId,friendId) values (#{userId},#{friendId})
    </insert>
    <select id="checkUserIsExist" resultType="friend">
        select * from friend where userId=#{userId} and friendId=#{friendId}
    </select>
</mapper>
